.users-content{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.51);

}
.users-content h1 {
    text-align: left; 
}

.users-content button {
    font-size: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.51);
}
.users-content span {
    font-size: 25px;
}
